body {
    background-color: #282828;
  }

  .main {
    margin-left: 225px; /* Same as the width of the sidenav */
    color: #f1f1f1;
    font-family: "Poppins";
  }
  

  .sidenav {
    font-family: "Poppins";
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 15%;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }

  .sidenav p {
    color: #818181;
    letter-spacing: -5px;
  }
  
  .sidenav button {
    font-family: "Poppins";
    color: #818181;
    padding: 9px 25px;
    background-color: rgba(36, 129, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .sidenav button:hover {
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }