body {
    background-color: #282828;
  }

  .main {
    margin-left: 14%; 
    color: #f1f1f1;
    font-family: "Poppins";
    margin-right: 1%;
  }

  .sidenav {
    font-family: "Poppins";
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 15%;
  }

  .sidenav p {
    color: #818181;
    letter-spacing: -5px;
    align-items: center;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav button {
    font-family: "Poppins";
    color: #818181;
    padding: 9px 25px;
    background-color: rgb(0, 99, 129);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 10%;
    margin-left: 0%;
  }

  .sidenav button:hover {
    background-color: rgba(0, 99, 170);
    margin-left: -10;
    padding: 15px 40px;
    color: #f1f1f1;
  }
